mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Чем ScalpEx 2.0 отличается от&nbsp;других торговых систем
				
			.row
				mixin item(i,t,p)
					+e.col.col-lg-6 
						+e.item
							div
								+e.title
									+pic(`sSteps-i-${i}.png`,'',0)
									span!= t
								p!=  p
				+item(`1`,`Два в одном`,`СScalpEx&nbsp;&mdash; это <strong>индикатор</strong> для торгового терминала, отображающий благоприятные точки для сделок, и&nbsp;<strong>робот</strong>, который может совершать до&nbsp;20&nbsp;сделок в&nbsp;час`)
				+item(`2`,`Просто применять`,`Управление системой заключается в&nbsp;нажатии <strong>двух кнопок</strong> в&nbsp;определенные моменты, которые способен отследить даже человек с&nbsp;минимальным опытом в&nbsp;трейдинге`)
				+item(`3`,`Минимальный контроль`,`Робот сам ставит и&nbsp;снимает заявки, следит за&nbsp;размерами прибыли, переворачивает сделку в&nbsp;лонг или в&nbsp;шорт в&nbsp;зависимости от&nbsp;ситуации на&nbsp;рынке`)
				+item(`4`,`Быстрый результат`,`Первую прибыль можно получить в&nbsp;самом начале освоения системы, для этого достаточно освоить инструкцию и&nbsp;разобраться в&nbsp;интерфейсе`)
	// end sSteps