mixin sAuthor(data)
	// start sAuthor
	
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.d-lg-none.bg-white.text-body
			.container.text-center
				h2 Автор системы и&nbsp;ведущий курса #[span Дмитрий Брыляков]
		.container
			.row.gx-0
				.col-xxl-5.col-lg-6
					+e.img-wrap 
						+pic("author.png",'','576px', null)
						.d-none.d-lg-block
							+e.label Я&nbsp;расскажу, КАК УВЕЛИЧИВАТЬ свой депозит минимум НА&nbsp;10% В&nbsp;КАЖДОЙ СДЕЛКЕ, нажимая всего две кнопки в&nbsp;нужный момент
							span
				.col-lg-6.col-xxl-7
					.d-none.d-lg-block
						h2 Автор системы и&nbsp;ведущий курса #[span Дмитрий Брыляков]
					ul 
						li Независимый трейдер, начинал с&nbsp;нуля, #[span 15&nbsp;лет опыта трейдинга] фьючерсами и&nbsp;опционами

						li Первый и&nbsp;единственный в&nbsp;Рунете трейдер, который перенес все лучшие технологии торговли с&nbsp;американского рынка и&nbsp;адаптировал их&nbsp;для Мосбиржи

						li #[span Последние 10&nbsp;лет живу исключительно на&nbsp;доходы от&nbsp;трейдинга в&nbsp;европейской стране], обеспечиваю свои траты в&nbsp;одной из&nbsp;самых дорогих валют мира&nbsp;&mdash; в&nbsp;евро. Много путешествую.

						li Делаю с&nbsp;помощью своей стратегии от&nbsp;40% ежемесячно к&nbsp;депозиту последние 5&nbsp;лет

						li Разработал и&nbsp;автоматизировал собственную стратегию трейдинга, чтобы мой результат мог повторить каждый

						li Преподаю с&nbsp;2016, и&nbsp;за&nbsp;эти 5&nbsp;лет у&nbsp;меня нет ни&nbsp;одного ученика&nbsp;&mdash;  финалиста, который&nbsp;бы не&nbsp;получил доход

						li #[span Регулярно выкладываю результаты своих сделок в&nbsp;открытый доступ]
					
					+e.label.d-lg-none Я&nbsp;расскажу, КАК УВЕЛИЧИВАТЬ свой депозит минимум НА&nbsp;10% В&nbsp;КАЖДОЙ СДЕЛКЕ, нажимая всего две кнопки в&nbsp;нужный момент
							span
					.text-lg-left.text-center
						+btn("Хочу тоже увеличивать депозит")
	// end sAuthor