mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Вопросы, которые могли у&nbsp;вас возникнуть
				
			mixin item(t,p)
				+e.item
					+e.title!= t
					p!= p 
			+item(`Я&nbsp;новичок, боюсь, не&nbsp;смогу разобраться. Что делать?`,`Все уроки на&nbsp;курсе рассчитаны на&nbsp;начальный уровень знаний. У&nbsp;вас будет 9&nbsp;последовательных видеоуроков с&nbsp;простыми домашними заданиями. Из&nbsp;них вы&nbsp;узнаете, как торговый робот ScalpEx 2.0 увеличивает депозиты: все подробности, особенности и&nbsp;нюансы. В&nbsp;любой момент можно задать вопрос в&nbsp;Службу Заботы или куратору.`)
			+item(`Какое оборудование мне потребуется?`,`Для изучения этого курса&nbsp;&mdash; любой компьютер или смартфон с&nbsp;доступом в&nbsp;Интернет. Для запуска робота ScalpEx потребуется стационарный компьютер или ноутбук с&nbsp;операционной системой Windows.`)
			+item(`ScalpEx 2.0 запускается только под Windows?`,`Да. Как минимум — Windows 7, а лучше — Windows 10. Linux или Маc не подойдут.`)
	// end sFAQ