mixin sProgram2(data)
	// start sProgram2
	+b.SECTION.sProgram2.section#sProgram2&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-lg-auto.text-center.order-lg-last
						+pic('program-img')
					.col
						h2 Программа обучения
						ul 
							li Старт сразу после регистрации
							li 9 уроков, понятных даже новичку
							li Реальные результаты автора системы и учеников
			.row
				mixin item(t)
					+e.col.col-lg-4.col-sm-6
						+e.item
							
							+e.title!= t
							ul
								block
				+item(`С чего начать. Как у нас учиться?`)
					li учебная платформа
					li порядок работы

				+item(`Знакомство с системой. Какой доход можно получить`)
					li автор системы 
					li результаты учеников
				+item(`Что такое биржа. Откуда на&nbsp;ней берутся средства`)
					li доход с биржи
					li качества трейдера 
				+item(`Настраиваем рабочее место. Что нужно для  эффективног трейдинга`)
					li список необходимого
					li отчеты учеников


				+item(`Как совершать прибыльные сделки и&nbsp;фильтровать сигналы`)
					li демонстрация сделок
					li отзывы о системе 
				+item(`Может&nbsp;ли у&nbsp;меня не&nbsp;получиться`)
					li как выглядит торговля
					li у кого 100% получится 
				+item(`Как быстро можно удвоить небольшой депозит`)
					li учебная платформа
					li порядок работы 
				+item(`Переходим к практике`)
					li всего два шага
					li как присоединиться 
				+item(`Бонусы. Для тех, кто хочет знать больше`)
					li полезные ссылки
					li дополнительные материалы 
			+e.footer
				+pic("brain.png",'',0)
				div 
					+e.footer-title Задать вопрос можно под каждым уроком, в&nbsp;открытых разделах группы, по&nbsp;телефону, в&nbsp;Телеграм или&nbsp;ВК
					+e.footer-text Вам оперативно ответят автор курса, куратор или служба заботы
			.text-center
				+btn('Хочу доступ к бесплатному курсу')
	// end sProgram2